* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
}

header {
	background-color: #0077b6;
	color: #fff;
	text-align: center;
	padding: 20px;
}

main {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

main:hover {
	transform: translateY(-10px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

p {
	margin-top: 0;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

button {
	background-color: #0077b6;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #023e8a;
}

#result {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
	background-color: #e6e6e6;
	display: none;
}

#result.correct {
	background-color: #32a852;
	color: #fff;
	display: block;
}

#result.incorrect {
	background-color: #d62828;
	color: #fff;
	display: block;
}